
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

.idea/
*.iml

/src/Migrations/
/.php_cs.cache

credentials.json
token.json
archive.txt
archive_debug.txt
archive_edit.txt
mix-desk.csv
.env

/templates/.idea/

/public/images/Diana.jpg
/public/images/Romashka.jpg
/public/images/pictures
composer.json
