body {
    padding-top: 80px;
    padding-bottom: 70px;
}

.navbar {
    margin: 0 -15px;
}

.sub-header {
    padding: 10px;
    margin: 0 5px;
}

.page-footer{
    margin: 0 -15px;
}

/*pagination*/
.page-item.active .page-link{
    border-color: #00005a;
    background-color: #00005a;
}

.alert {
    margin: 0 -15px;
}

.brand-bg {
    background-color: #00005a;
}

.brand-light-bg {
    background-color: #cce6ff;
}

.brand-txt {
    color: #00005a;
}

.event-img {
    width: 18rem;
}

.contact-img {
    height: 18rem;
}

label.required:after {
    content: "* ";
    color: red;
}

legend.required:after {
    content: "* ";
    color: red;
}

.btn-primary.brand-bg {
    border-color: #00005a;
}

.bordered {
    border-style: solid;
    padding: 5px;
}

svg {
    font: 10px Helvetica;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

path.domain {
    stroke: none;
}

.y .tick line {
    stroke: #ddd;
}

.x.axis text {
    font-size: 14px;
}

#xaxis text {
    font-weight: bold;
}

#yaxis text {
    font-size: 18px;
}

.tooltip-text {
    font-size: 13px;
    font-weight: bold;
}
