.navbar {
    margin: 0 -15px;
}

.sub-header {
    padding: 10px;
    margin: 0 5px;
}

.page-footer{
    margin: 0 -15px;
}

/*pagination*/
.page-item.active .page-link{
    border-color: black;
}

.alert {
    margin: 0 -15px;
}

.brand-bg {
    background-color: #420080;
}

.brand-txt {
    color: #28004d;
}

.event-img {
    width: 18rem;
}
