body {
	padding-top: 80px;
	padding-bottom: 70px;
}
header .header-h1-name {
	font-size: 2.5rem;
    color: #00005a;
}
header .header-title {
	font-style:italic;
}

header .h4 {
	font-size:0.75em;
	display: block;
}
header .h4:first-letter {
    text-transform: uppercase;
}

@media (min-width:992px) {
	header .header-h1-name {
		font-size: 1.75rem;
		color: #00005a;
	}
	header .h4 {
		font-size:1.25rem;
	}
	header .h4:first-letter {
		text-transform: inherit;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.sub-header {
		padding: 10px;
		margin: 5px;
	}
}

@media (min-width:1600px) {
	header .header-h1-name { 
		font-size:2.5rem
	}
	header .h4 {
		font-size:1.5rem;
		display: inline-block;
	}
	header .h4:first-letter {
		text-transform: inherit;
	}
}


.page-footer{
    margin: 0 -15px;
}

/*pagination*/
.page-item.active .page-link{
    border-color: #00005a;
    background-color: #00005a;
}

.alert {
    margin: 0 -15px;
}

.brand-bg {
    background-color: #00005a;
}

.brand-light-bg {
    background-color: #cce6ff;
}

.brand-txt {
    color: #00005a;
}

.event-img {
    min-width:100%;
}

.contact-img {
    height: 18rem;
}

label.required:after {
    content: "* ";
    color: red;
}

legend.required:after {
    content: "* ";
    color: red;
}

.btn-primary.brand-bg {
    border-color: #00005a;
}

.bordered {
    border-style: solid;
    padding: 5px;
    margin: 5px;
}

.badge-wrap.badge {
    white-space: normal;
}
.badge-news-type {
	text-transform: capitalize;
}

svg {
    font: 10px Helvetica;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
}

path.domain {
    stroke: none;
}

.y .tick line {
    stroke: #ddd;
}

.x.axis text {
    font-size: 14px;
}

#xaxis text {
    font-weight: bold;
}

#yaxis text {
    font-size: 18px;
}

.tooltip-text {
    font-size: 13px;
    font-weight: bold;
}




.event-list-wrapper {
	display:flex;
	align-items:center;
}


.google-calendar-container {
	position: relative;
	height: 0;
	width: 100%;
	padding-bottom: 100%;
}
.google-calendar-container iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}
	

@media (min-width:992px) {
	.google-calendar-container {
		padding-bottom: 37%;
	}

}