{% extends 'base_admin.html.twig' %}

{%block heading %} Categories of events {% endblock %}

{% block content %}
    <div class="row " >
        {% if categories %}
            <div class="col-4" >
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Event category</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr
                                data-category-id="{{category.id}}"
                            >
                                <td class="category-name">{{category.name}}</td>
                                <td class="px-0"><a  class="btn btn-dark text-light category-edit" role="button"><span class="fa fa-pencil text-white" aria-hidden="true"></span> Edit&nbsp;&nbsp;&nbsp;</a>
                                <td class="px-0"><a  class="btn btn-dark text-light" role="button"><span class="fa fa-trash-o text-white" aria-hidden="true"></span> Delete</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            There is no data currently.
        {% endif %}
    </div>

    {{ include('pagination.html.twig', { 'pageCount' : pageCount, 'page' : page }) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/category_list_script.js"></script>
{% endblock %}
