{% extends 'base.html.twig' %}

{% block page_heading %}
    <div class="row justify-content-center" >
        <div class="col-11">
            <h2 class="sub-header text-center brand-txt">
                {% block heading %}
                    Классификация игр по жанрам и поджанрам
                {% endblock %}
            </h2>
        </div>
    </div>
{% endblock %}

{% block content %}

        <div class="row justify-content-center">
            <div class="col-11">

            </div>
        </div>

{% endblock %}
