{% extends 'base.html.twig' %}

{% block page_heading %}
    <div class="row justify-content-center" >
        <div class="col-11">
            <h2 class="sub-header text-center brand-txt">
                {% block heading %}
                    Классификация игр по жанрам и поджанрам
                {% endblock %}
            </h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-11 mt-3">
            <p>
                Целью разделения игр на жанры и поджанры же является не теоретическая классификация, а разделение УЖЕ представленных в календаре игр для удобства их выбора.
            </p>
            <p>
                Поэтому мы решили:
            </p>
            <ul>
            а) Жанр и поджанр относится не к самой игре, а к МИРУ ИГРЫ. Что не всегда одно и то же. К примеру, по миру Толкиена могут создаваться принципиально разные игры, но  жанр самого мира останется прежним.
            </ul>
            <ul>
            б) Разделение категории на "Жанр" и "Поджанр". Жанров в разделении всего несколько, чтобы игрокам проще было определить общий характер игры. Немного более подробны поджанры, но в каждом из них находится не менее двух игр. Украинских игр не так много, чтобы для каждой из них придумывать свой поджанр.
            </ul>
            <ul>
                в) Мы опираемся исключительно на представленные в нашем календаре мероприятия, что делает данную классификацию приближенной к реальности именно украинских ролевых событий.
            </ul>
            <p>
                На данный момент разделение получилось следующим:
            </p>
            <p>
                <b> Жанры: </b> Фэнтези, Исторический, Научная фантастика, Псевдо-исторический, а также По компьютерной игре. Последнее, строго говоря, не относится к жанрам, но весьма любопытно, поэтому ПОКА побудет здесь. Под "Псевдо-историческим" мы понимаем событие, в котором нет магии и других, не свойственных нашему миру особенностей, но в котором за основу берется мир, в котором смешаны народы и события, не имевшие место быть в реальной истории.
            </p>
            <p>
                <b>Поджанры для фэнтези</b> пока определены следующие:
            </p>
            <li>
                Высокое фэнтези, одним из отцов которого считается профессор Толкиен.
                Ему характерны множество рас, включая эльфов, а также эпические события, поэтому в мире этот поджанр иногда называют "эпическое фэнтези".
            </li>
            <li>
                Тёмное фэнтези, для которого свойственны брутальный мир, минимум выдуманных рас и жестокие события и обстоятельства.
            </li>
            <li>
                Технофэнтези, являющееся смесью фэнтези и научной фантастики.
                Порой бывает трудно отнести мир к первому или второму жанру, в таком случае мероприятие причисляется нами именно к технофэнтези, как это принято в литературной практике.
            </li>
            <li>
                Мифологическое фэнтези, - поджанр, мир которого основан на мифах, сказках и легендах, возможно даже отчести нереальных.
            </li>
            <li>
                Историческое фэнтези.
                Такие игры полностью соответствуют историческому жанру, за исключением того, что в них добавлены, скажем, магия или волшебные существа.
            </li>
            <li>
                Городское фэнтези, которое основано на городских легендах, или события которого разворачиваются исключительно в городах современного времени.
            </li>
            <li>
                (просто) Фэнтези. Нечто среднее между темным и высоким фэгнтези мы не стали называть "классическим" или "средним".
                Когда мир трудно отнести к тому или иному поджанру, мы называем его просто "фэнтези", по крайней мере пока не появятся сходные ему миры, которые можно было бы выделить в отдельную подкатегорию.
            </li>
            <br>
            <p>
                Далее поясним <b> Исторический (а также псевдо-исторический) </b> жанр. Мы разделили его на:
            </p>
            <li>
                Первобытность, - историческая эпоха до изобретения человечеством письменности.
            </li>
            <li>
                Античность, которая продолжалась до падения Римской империи.
            </li>
            <li>
                Средневековье, в вопросе окончания которого историки не имеют единого мнения, но все условные события, от которых можно отталкиваться, произошли в разное время 16 века.
            </li>
            <li>
                С поджанрами "17 век", "18 век", "19 век" и "20 век " все понятно. Единственный случай, когда на данный момент не все из них представлены достаточным количеством игр, но слишком уж четкое это деление.
            </li>
            <br>
            <p>
            <b> Поджанры Научной фантастики </b> мы определили такие:
            </p>
            <li>
                Постапокалипсис, самый распространенный поджанр за счет популярности у нас вселенной Сталкер.
            </li>
            <li>
                Киберпанк, для которого характерны мрачное будущее человечества и антиутопический характер социума.
                Действие происходит на планете, а не в космосе.
            </li>
            <li>
                Стимпанк, к которому условно относим атмосферу нашего прошлого с изобретениями и техническими элементами вероятного будущего.
            </li>
            <li>
                Космическая сага (или опера). Такие миры имеют отношение к космическим путешествиям, инопланетным расам и эпическим свершениям.
            </li>
            <br>
            <p>
                Еще раз заметим, что это деление не претендует на теоретическую полноту и основывается исключительно на фактах, поэтому, с течением времени может меняться.
            </p>
        </div>
    </div>
{% endblock %}
