{% extends 'base.html.twig' %}

{% block heading %} Новое на сайте {% endblock %}

{% block content %}
    <div class="row " >
        {% for post in posts if posts%}
            {{ include('news_card.html.twig', { 'post' : post }) }}
        {% endfor %}
    </div>
{% endblock %}
