{% extends 'base.html.twig' %}

{% block heading %} Recently added events: {% endblock %}

{% block content %}
    <div class="row " >
        {% for event in new_events if new_events%}
            {{ include('event/event_card.html.twig', { 'event' : event }) }}
        {% endfor %}
    </div>
{% endblock %}
