{% extends 'admin/base_admin.html.twig' %}

{%block heading %}Создать новую статью{% endblock %}

{% block content %}
    <div class="row py-3" >
        <div class="col-10" >
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

