{% extends 'base.html.twig' %}

{% block page_heading %}
    <div class="row " >
        <div class="col-11 justify-content-center ml-3">
            <h2 class="sub-header  brand-txt">{% block heading %}  Обзоры  {% endblock %}</h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if articles %}
        <div class="col-11 justify-content-center ml-3">
            {% for article in articles %}
                <div class="card my-2">
                    <h4 class="card-title p-2 brand-txt">
                        {{article.name}} <br>
                    </h4>
                    <div class="card-body px-1 py-0 d-flex flex-column">
                        <p class="card-text m-2">{{article.description | cut |raw }}</p>
                        <a href="{{ path('show_article_by_slug', {'slug': article.slug}) }}" class="btn btn-primary brand-bg align-self-end mb-2">Читать полностью</a>
                    </div>
                </div>
            {% endfor %}

            {{ include('pagination.html.twig', { 'pageCount' : pageCount, 'page' : page }) }}
        </div>
    {% else %}
        Сейчас в этом разделе ничего нет.
    {% endif %}
{% endblock %}
